.App {
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
}

.link {
    color: inherit;
    text-decoration: inherit;
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: rgb(205, 239, 240);
}

.price {
    border-radius: 5px;
    background-color: rgb(254, 237, 236);
}

.title {
    height: 3cm;
    width: 8cm;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    background: linear-gradient(144deg, rgba(255, 255, 255, 1) 0%, rgba(255, 163, 119, 0.583158263305322) 77%, rgba(255, 255, 255, 1) 100%);
}
.author {
    border-radius: 5px;
    background: rgb(255, 255, 255);
    background: linear-gradient(144deg, rgba(255, 255, 255, 1) 0%, rgb(119, 255, 128) 77%, rgba(255, 255, 255, 1) 100%);
}
.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 10px;
    background-color: var(--color-stroke);
    padding: 1em;
    max-width: 90rem;
}

.update {
    border: 1px solid rgb(204, 204, 243);
    color: rgb(234, 172, 139);
    cursor: pointer;
}

.delete {
    border: 1px solid rgb(245, 191, 191);
    color: rgb(66, 17, 1);
    cursor: pointer;
}

.book {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    border: none;
    padding: 10px;
    background-color: white;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

input {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}